FixingHW3/FixingHW3/3/xml/schemas/schema-1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/movies"
           xmlns="http://example.com/movies"
           xmlns:xml="http://www.w3.org/XML/1998/namespace"
           elementFormDefault="qualified">

    <xs:import namespace="http://www.w3.org/XML/1998/namespace" 
               schemaLocation="http://www.w3.org/2001/xml.xsd"/>

    <xs:complexType name="LocalizableString">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute ref="xml:lang" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:element name="MovieDatabase">
        <xs:complexType>
            <xs:all>
                <xs:element ref="Countries"/>
                <xs:element ref="Studios"/>
                <xs:element ref="Cinemas"/>
                <xs:element ref="People"/>
                <xs:element ref="Movies"/>
                <xs:element ref="Screenings"/>
            </xs:all>
        </xs:complexType>
    </xs:element>

    <xs:element name="Countries">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Country" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="Country">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Name" type="LocalizableString" maxOccurs="unbounded"/>
                <xs:element name="Code" type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:ID" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="Studios">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Studio" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="Studio">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Name" type="LocalizableString" maxOccurs="unbounded"/>
                <xs:element name="FoundedYear" type="xs:gYear"/>
                <xs:element name="MoviesProduced" type="xs:integer"/>
                <xs:element name="Location" type="CountryRefType"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:ID" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="Cinemas">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Cinema" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="Cinema">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Name" type="LocalizableString" maxOccurs="unbounded"/>
                <xs:element name="Capacity" type="xs:integer"/>
                <xs:element name="Luxury" type="xs:boolean"/>
                <xs:element name="Phone" type="xs:string" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element name="Location" type="CountryRefType"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:ID" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="People">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Person" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="Person">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="FullName" type="LocalizableString" maxOccurs="unbounded"/>
                <xs:element name="BirthDate" type="xs:date"/>
                <xs:element name="ActiveSince" type="xs:gYear" minOccurs="0"/>
                <xs:element name="AwardsCount" type="xs:integer" minOccurs="0"/>
                <xs:element name="StageName" type="LocalizableString" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="DebutYear" type="xs:gYear" minOccurs="0"/>
                <xs:element name="BornIn" type="CountryRefType" minOccurs="0"/>
                <xs:element name="ActedIn" type="MovieRefType" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:ID" use="required"/>
            <xs:attribute name="type" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Director"/>
                        <xs:enumeration value="Actor"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <xs:element name="Movies">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Movie" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="Movie">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Title" type="LocalizableString" maxOccurs="unbounded"/>
                <xs:element name="Duration" type="xs:integer"/>
                <xs:element name="ReleaseDate" type="xs:date"/>
                <xs:element name="DirectedBy" type="PersonRefType"/>
                <xs:element name="ProducedBy" type="StudioRefType"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:ID" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="Screenings">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Screening" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="Screening">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Date" type="xs:date"/>
                <xs:element name="Time" type="xs:time"/>
                <xs:element name="Language" type="xs:language"/>
                <xs:element name="Shows" type="MovieRefType"/>
                <xs:element name="TakesPlaceAt" type="CinemaRefType"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:ID" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="CountryRefType">
        <xs:attribute name="ref" type="xs:IDREF" use="required"/>
    </xs:complexType>

    <xs:complexType name="StudioRefType">
        <xs:attribute name="ref" type="xs:IDREF" use="required"/>
    </xs:complexType>

    <xs:complexType name="CinemaRefType">
        <xs:attribute name="ref" type="xs:IDREF" use="required"/>
    </xs:complexType>

    <xs:complexType name="PersonRefType">
        <xs:attribute name="ref" type="xs:IDREF" use="required"/>
    </xs:complexType>

    <xs:complexType name="MovieRefType">
        <xs:attribute name="ref" type="xs:IDREF" use="required"/>
    </xs:complexType>

</xs:schema>